


<div class="container">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

	<% @directions.each_with_index do |direction, n| %>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%= "#{n}" %>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= "#{n}" %>" aria-expanded="<%= n==0 ? 'true' : 'false' %>" aria-controls="collapse<%= "#{n}" %>">


          <%= direction.title %>
        </a>
      </h4>
    </div>
    <div id="collapse<%= "#{n}" %>" class="panel-collapse collapse <%= n==0 ? 'in' : '' %>" role="tabpanel" aria-labelledby="heading<%= "#{n}" %>">
      <div class="panel-body">
        
		<% direction.examples.each do |example| %>
		<p>
		<%= link_to "#{example.title}".html_safe,example.content %>	
		</p>
		<% end %>

      </div>
    </div>
  </div>

<% end %>

</div>
</div>