<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





<head>
</head>

<body>
<div class="container">
	<div class="col-sm-12 col-md-12">
		<div class="row">
			<%= image_tag "/images/logos/logomera.png" %>
			<nav class="navbar navbar-default">
  				    
   				<ul class="nav navbar-nav">
   				<li class="active"><%= link_to 'Главная', home_examples_path %></li>
				<li><%= link_to 'Продукция и услуги', home_examples_path %></li>
  				<li><%= link_to 'Примеры внедрения', home_examples_path %></li>
  				<li><%= link_to 'Техническая поддержка', home_support_path %></li>
  				<li><%= link_to 'О предприятии', home_about_path %></li>
  				<li><%= link_to 'Документация', home_docs_path %></li>
  				<li ><%= link_to 'Контакты', home_contacts_path %></li>
  				</ul>

  			</nav>
 		</div>
 	</div>
</div>


    


<div class="container">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Области применения</h3>
  </div>
  <div class="panel-body">

  	
	<div class="row">
  		<div class="col-sm-6 col-md-4">
   			<div class="thumbnail">
      			<img class="img-radius" src="http://www.nppmera.ru/assets/images/small/145.jpg" alt="...">
      			<div class="caption">
      				<p class="thumbnails-text">Информационно-измерительные системы и системы управления для испытания РКД</p>
      			</div>
    		</div>
  		</div>

  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img class="img-radius" src="http://www.nppmera.ru/assets/images/small/146.jpg" alt="...">
      			<div class="caption">
      				<p class="thumbnails-text">Стендовые измерительные системы для испытания авиадвигателей</p>
      			</div>
    		</div>
  		</div>

  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img class="img-radius" src="http://www.nppmera.ru/assets/images/small/147.jpg" alt="...">
      			<div class="caption">
      				<p class="thumbnails-text">Бортовые распределенные системы сбора и обработки информации при летных испытаниях</p>
      			</div>
    		</div>
  		</div>

  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img class="img-radius" src="http://www.nppmera.ru/assets/images/small/148.jpg" alt="...">
      			<div class="caption">
      				<p class="thumbnails-text">Распределенные системы измерений для транспортных испытаний</p>
      			</div>
    		</div>
 		</div>

  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img class="img-radius" src="http://www.nppmera.ru/assets/images/small/149.jpg" alt="...">
      			<div class="caption">
      				<p class="thumbnails-text">Системы приема и обработки телеметрической информации</p>
      			</div>
    		</div>
  		</div>

  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img class="img-radius" src="http://www.nppmera.ru/assets/images/small/351.png" alt="...">
      			<div class="caption">
      				<p class="thumbnails-text">Информационно-измерительные системы общего назначения</p>
      			</div>
    		</div>
  		</div>

	</div>
	  </div>
  
</div>
</div>




<div class="container">
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">События компании</h3>
  </div>
  <div class="panel-body">
	<div class="media">
 		<div class="media-left media-top">
    		<a href="#">
      		<img class="media-object" src="http://www.nppmera.ru/assets/images/small/562.png" alt="...">
    		</a>
  		</div>
  		<div class="media-body">
    		<h5 class="media-heading">НПП «МЕРА» на Testing & Control 2016</h5>
		</div>
	</div>

	<div class="media">
 		<div class="media-left media-top">
    		<a href="#">
      		<img class="media-object" src="http://www.nppmera.ru/assets/images/small/559.png" alt="...">
    		</a>
  		</div>
  		<div class="media-body">
    		<h5 class="media-heading">Проведена техническая конференция «Современные системы испытаний» для предприятий, входящих в кооперацию «МИТ»</h5>
		</div>
	</div>

	<div class="media">
 		<div class="media-left media-top">
    		<a href="#">
      		<img class="media-object" src="http://www.nppmera.ru/assets/images/small/561.png" alt="...">
    		</a>
  		</div>
  		<div class="media-body">
    		<h5 class="media-heading">НПП «МЕРА» принимает заседание Правления АССАД</h5>
		</div>
	</div>

	<div class="media">
 		<div class="media-left media-top">
    		<a href="#">
      		<img class="media-object" src="http://www.nppmera.ru/assets/images/small/557.png" alt="...">
    		</a>
  		</div>
  		<div class="media-body">
    		<h5 class="media-heading">НПП «МЕРА» на выставке ILA Berlin Air Show</h5>
		</div>
	</div>
	</div>
	</div>
</div>

</body>
</html>