
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title">Новинки продукции</h3>
  		</div>
		
		<div class="panel-body">

			<div style="margin-top: 20px; margin-bottom: 20px;">
			<div id="Carousel" class="carousel slide" data-interval="5000" data-ride="carousel" style="margin-top: 20px;">
				
			<div class="carousel-inner" role="listbox">

  			<% @products.each_with_index do |product, n| %>
     			<div class="item <%= n==0 ? ' active' : '' %>" style="background: #ffffff; height: 300px !important;">
   				<table class="carousel-table">
       			<tr><td class="carousel-td"><%= link_to "#{image_tag(product.thumbnail, :alt => "", :class => "carousel-img")}".html_safe,product_path(product)  %>
    			</td><td class="carousel-td">
        			<h2><%= link_to "#{product.title}".html_safe,product_path(product) %></h2>
      							<%= product.name %>
      							
      							<ul>
      								<% features = product.feature.split(';') %>
      								<% features.each do |item|%>
      									<li><%= item.strip.capitalize %></li>
      								<% end %>
      							</ul>
     			</td></tr>
    			</table>
     			</div>
  			<% end %>
	
  		</div>
		<!-- Carousel nav -->
  		<a class="carousel-control left" href="#Carousel" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left"></span></a>
  		<a class="carousel-control right" href="#Carousel" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right"></span></a>
    	</div>
    	</div>
  </div>
  </div>
  </div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title">Области применения</h3>
  		</div>
		
		<div class="panel-body">
			<div class="row">

				<% @directions.each do |direction| %>

  					<div class="col-sm-6 col-md-4">
   						<div class="thumbnail">
      						<%= link_to "#{image_tag(direction.thumbnail, :alt => "", :class => "img-radius")}".html_safe,direction_path(direction) %>
      						<div class="caption">
      							<p class="thumbnails-text"><%= direction.title %></p>
      						</div>
    					</div>
  					</div>

  				<% end %>
			</div>
		</div>  
	</div>
</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">События компании</h3>
  		</div>
  		<div class="panel-body">

  			<% @events.each do |event| %>

				<div class="media">
 					<div class="media-left media-top">
    					
    					<%= link_to "#{image_tag(event.thumbnail, :alt => "", :class => "media-object")}".html_safe, event_path(event)  %>
    					      					
  					</div>

  					<div class="media-body">
  						<h4><%= event.date %></h4>
  						<p></p>
    					<h5 class="media-heading"><%= event.title %></h5>
					</div>
				</div>

			<% end %>
			
		</div>	
	</div>
</div>
