<%= request.original_url.inspect %>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title">Области применения</h3>
  		</div>
		
		<div class="panel-body">
			<div class="row">

				<% @directions.each do |direction| %>

  					<div class="col-sm-6 col-md-4">
   						<div class="thumbnail">
      						<%= link_to "#{image_tag(direction.thumbnail, :alt => "", :class => "img-radius")}".html_safe,direction_path(direction) %>
      						<div class="caption">
      							<p class="thumbnails-text"><%= direction.title %></p>
      						</div>
    					</div>
  					</div>

  				<% end %>
			</div>
		</div>  
	</div>
</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">События компании</h3>
  		</div>
  		<div class="panel-body">

  			<% @events.each do |event| %>

				<div class="media">
 					<div class="media-left media-top">
    					
    					<%= link_to "#{image_tag(event.thumbnail, :alt => "", :class => "media-object")}".html_safe, event_path(event)  %>
    					      					
  					</div>

  					<div class="media-body">
  						<h4><%= event.date %></h4>
  						<p></p>
    					<h5 class="media-heading"><%= event.title %></h5>
					</div>
				</div>

			<% end %>
			
		</div>	
	</div>
</div>


<div class="container">
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Новинки продукции</h3>
  		</div>
  		<div class="panel-body">
  			<div class="row">

  				<% @products.each do |product| %>

  					<div class="col-sm-6 col-md-4">
   						<div class="thumbnail">
   							<%= link_to "#{image_tag(product.thumbnail, :alt => "", :class => "thumbnails-img")}".html_safe,product_path(product)  %>
   							<div class="caption">
      							<h4><%= product.title %></h4>
      							<%= product.name %>
      							<hr>
      							<ul>
      								<% features = product.feature.split(';') %>
      								<% features.each do |item|%>
      									<li><%= item.strip.capitalize %></li>
      								<% end %>
      							</ul>
      						</div>
    					</div>
  					</div>
  				
  				<% end %>

  			</div>
		</div>
  	</div>
</div>