<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>НПП "Мера"</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="http://nppmera.ru/favicon.ico">
  </head>

  <body>
  <div class="container">
	<div class="col-sm-12 col-md-12">
		<div class="row">
			<%= image_tag "/images/logos/logomera.png" %>
			<nav class="navbar navbar-default">
  				    
   				<ul class="nav navbar-nav">
   				<%= nav_link 'Главная', home_index_path %>
				<%= nav_link 'Продукция и услуги', products_path %>
  				<%= nav_link 'Примеры внедрения', home_examples_path %>
  				<%= nav_link 'Техническая поддержка', home_support_path %>
  				<%= nav_link 'О предприятии', home_about_path %>
  				<%= nav_link 'Документация', home_docs_path %>
  				<%= nav_link 'Контакты', home_contacts_path %>
  				</ul>

  			</nav>
 		</div>
 	</div>
</div>
	
    <%= yield %>

  </body>
</html>
